  
/* * * * * * * * * * *
* ansonli.ca stylesheet
* reorganised for general use
*
* 1.0: Font-face
* 2.0: Formatting
* 3.0: Fonts
* 4.0: Colors
* 5.0: Buttons / OnHover
* 6.0: Menus
* 7.0: Bootstrap 
* 8.0: Three.js
* * * * * * * * * * * */

/* * * * * * *
* 1.0: Font-face
* * * * * * */

@font-face{
  font-family: "Calibre";
  src: url('../assets/fonts/calibre-light.ttf');
}

@font-face{
  font-family: "Calibre-Bold";
  src: url('../assets/fonts/calibre-bold.ttf');
}

@font-face{
  font-family: "Tiempo";
  src: url('../assets/fonts/tiempo.ttf');
}

@font-face{
  font-family: "Tiempo-Bold";
  src: url('../assets/fonts/tiempo-bold.ttf');
}

@font-face{
  font-family: "Dala-Floda";
  src: url('../assets/fonts/dala-floda-medium.ttf');
}

/* * * * * * *
* 2.0: Formatting
* * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 2.1 - Body / HTML formatting
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Calibre";
  font-weight: 300;
  font-size: 1em;
  text-align: left;
  letter-spacing: 1.5px;
  background-color: #FEF8ED;
  margin:0;
  color: #333;
}

@media (min-width: 0px) {
  body {
    overflow: scroll;
    font-size: 9px;
  }
} @media (min-width: 768px) {
  body {
    font-size: 11px;
  }
} @media (min-width: 1400px) {
  body {
    font-size: 15px;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 2.2 - Spacers
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.spacer-xs {
  width: 50px;
  height: 5em;
}

.spacer-sm {
  width: 50px;
  height: 10em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 2.3 - Text Positioning Elements
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.bottom-align {
  position: fixed;
  bottom: 0;
  min-height:100%;
  height:auto; 
}

.fixed-bottom {
  position: fixed;
  padding-bottom: 45px;
  margin-bottom: 0px..45;
  bottom: 0px;
  left: 60px;
  width: 90%;
}

.horizontal {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
  top: 20%;
  left: 85%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 2.4 - Container Positioning Elements
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.fixed-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.fixed-vert {
  height: 100%;
  overflow-y: hidden;
}

.top-center {
  padding-top: 15px;
}

.mid-center {
  top: 45%;
  padding-top: 20%;
  left: 35%;
}

.left-top {
  top: 20%;
}
@media (min-width: 1024px) {
  .left-top {
    padding-top: 10%;
    left: 7%;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 2.5 - Additional
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

img {
  position: relative;
}

/* * * * * * *
* 3.0: Fonts
* * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 3.1 - General
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1 {
  font-family: 'Dala-Floda', serif;
  font-size: 4.5em;
  color: #333;
}

h2 {
  font-family: 'Calibre-Bold', serif;
  font-size: 8em;
  letter-spacing: 5px;
}

h3 {
  font-family: 'Calibre-Bold', serif;
  font-size: 5em;
  letter-spacing: 3px;
}

h4 {
  font-family: 'Calibre-Bold', serif;
  letter-spacing: 5px;
  font-size: 3em;
}

h5 {
  text-align: center;
  font-size: 1.5em;
}

h6 {
  font-family: 'Dala-Floda', serif;
  letter-spacing: 5px;
  font-size: 3.5em;
}

h7 {
  font-family: 'Calibre', serif;
  letter-spacing: 5px;
  font-size: 1.5em;
}

p {
  text-align: left;
  font-size: 1.4em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 3.5 - Font Style
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.b {
  font-family: 'Calibre-Bold', serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.serif {
  font-family: 'Tiempo', serif;
  letter-spacing: 2px;
}

/* * * * * * *
* 4.0: Colors
* * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 4.1 - Color-Box Implementation
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.blue {
  color: #fff;
  background: #2E3F54;
}

.orange {
  color: #333;
  background: #FFB86F;
}

.dark-pink {
  color: #fff;
  background: #8E3B46;
}

.light-pink {
  color: #333;
  background: #CF9295;
}

.dark-blue {
  color: #fff;
  background: #2C3D51;
}

.green {
  color: #fff;
  background: #81B175;
}

.white {
  color: #333;
  background: #fff;
}

.yellow {
  color: #333;
  background: #FFF8BD;
}

.gray {
  color: #333;
  background: #eee;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 4.2 - Additional
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a {
  color: #333;
}

/* * * * * * *
* 5.0: Buttons / OnHover
* * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 5.1 - Links
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #333;
}

.strikethrough {
    display: inline-block;
    position: relative;
}

.strikethrough:hover {
  text-decoration: none;
}

.strikethrough:after {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 1px;
    margin-top: -0.7em;
    background: #333;
    transform-origin: center left;
    transition: 0.25s ease;
    left: -0.5em;
}

.strikethrough:hover:after {
    width: 130%;    
}

.bigstrike {
    display: inline-block;
    position: relative;
}

.bigstrike:hover {
  text-decoration: none;
}

.bigstrike:after {
    content: '';
    position: absolute;
    display: block;
    width: 0%;
    height: 10px;
    margin-top: -0.7em;
    background: rgba(255, 201, 155, 0.9);
    transform-origin: center left;
    transition: 0.25s ease;
    left: -0.3em;
}

.bigstrike:hover:after {
    width: 110%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 5.2 - Buttons
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn { 
  border-radius: 0px;
  font-size: inherit;
  color: #3333;
  background: rgba(0, 0, 0, 0.0);
  padding: 0.5em 2em;
  border: 0.25px solid #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s; 
}

.btn:hover { 
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 0.5em 2.2em; 
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 5.3 - Color-Box Implementation
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.box {
  border-radius: 3px;
  box-shadow: 0px 2px 10px #ddd;
  padding: 20px; 
  width: 200px;
  height: 50px; 
  -webkit-transition: color ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.box:hover {
  height: 50px;
  width: 210px;
  box-shadow: 0px 2px 10px #888;
}

.crossfade {
  position: relative;
  width: 50px;
}

.crossfade img {
  position:absolute;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  -o-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.crossfade img.top:hover {
  opacity:0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 5.4 - Additional
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.highlight {
  background: #ffc98d; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffc98d 0%, #ffd7ab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ffc98d 0%,#ffd7ab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ffc98d 0%,#ffd7ab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc98d', endColorstr='#ffd7ab',GradientType=1 );
  margin: 0px 0px;
  padding-bottom: 10px;
  line-height: 0.1;
  border-radius: 1px;
  display:inline-block;
}

/* * * * * * *
* 6.0: Menus
* * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 6.1 - 'Border box' Implementation
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#top, #bottom, #left, #right {
    z-index: -1;
    background: #FFFFFF;
    position: fixed;
}
#left, #right {
  top: 0; bottom: 0;
  width: 10px;
}
#left { left: 0; }
#right { right: 0; }
  
#top, #bottom {
  left: 0; right: 0;
}
#top { 
  top: 0; 
  height: 55px;
}
#bottom {
  bottom: 0; 
  height: 10px;
}

@media (min-width: 1024px) {
  #left, #right {
    width: 55px;
  }
  #top, #bottom {
    height: 55px;
  }   
}

/* * * * * * *
* 7.0: Bootstrap
* * * * * * */

.container {
  text-align: left;
}

/* * * * * * *
* 8.0: Three.js
* * * * * * */

canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#info {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 50%;
  padding: 5px;
  display: inline-block;
}
























