/* * * * * * * * * * *
* ansonli.ca supplementary stylesheet
* used for scrollable page implementation
* reorganised for general use
* * * * * * * * * * * */

html, body {
  overflow: auto;
  background-color: #000;
  color: #FFF;
}

.scroll-title {
  padding-bottom: 0.5em;
}

.barba-container {
 background: #1e5799; /* Old browsers */
  background: #111;/*-moz-linear-gradient(-45deg, #1e5799 0%, #fef8ed 0%, #fff7ef 8%, #fff7ef 8%, #fff7ef 100%, #fff7ef 100%, #fff7ef 100%, #fff7ef 100%, #fff7ef 100%, #fff7ef 100%, #fff7ef 100%, #feefff 100%, #fff7ef 100%); /* FF3.6-15 */
  background: #111;/*-webkit-linear-gradient(-45deg, #1e5799 0%,#fef8ed 0%,#fff7ef 8%,#fff7ef 8%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#feefff 100%,#fff7ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: #111;/*linear-gradient(135deg, #1e5799 0%,#fef8ed 0%,#fff7ef 8%,#fff7ef 8%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#fff7ef 100%,#feefff 100%,#fff7ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#fff7ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.fixed-header {
  position: fixed;
  z-index: 1;
}

.top-center {
  /*left: 171% */;
}

.hide-under {
  z-index: 0;
}

#bottom {
  position: static;
}

