a:hover {
  text-decoration: none;
  border-bottom: 0.5px solid #666;
  color: #333;
}

#top, #bottom, #left, #right {
  z-index: -1;
  background: #FFFFFF;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 55px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 55px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

.top-center {
  padding-top: 10px;
}

.mid-center {
  top: 45%;
  padding-top: 20%;
  left: 35%;
}